{% block content %}
  <h1>Personal Data</h1>
  <form action="" method="post" novalidate>
    {{ form.hidden_tag() }}
    <p>
      {{ form.firstName.label }}<br>
      {{ form.firstName(size=64) }}
    </p>
    <p>
      {{ form.lastName.label }}<br>
      {{ form.lastName(size=64) }}
    </p>
    <p>
      {{ form.username.label }}<br>
      {{ form.username(size=64) }}
    </p>
    <p>
      {{ form.email.label }}<br>
      {{ form.email(size=64) }}
    </p>
    <p>
      {{ form.phone.label }}<br>
      {{ form.phone(size=64) }}
    </p>
    <p>{{ form.submit() }}</p>
  </form>
{% if form.errors %}
	{% for fieldName, errorMessages in form.errors.items(): %}
		<font color="red"><strong>Error: {{ fieldName }}:</strong>  {{ errorMessages }}</font><br>
    {% endfor %}
{% endif %}
{% endblock %}
